
/* Fonts */
@font-face {
    font-family: "VarelaRound";
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: "Sonorus";
    src: url(../fonts/Sonorous.otf);
}

.VarelaRound{
    font-family: "VarelaRound";
}
.Sonorus{
    font-family: "Sonorus";
}


.text_color{
    color: #ffffff;
}

.link{
    color: #e6f4ff;
}


/* General Page */
* { /* keeps gaps from apearing at side of page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #202020;
}

body {
    background-color: #444444;
}

/* Fade In Anim */
.fade_in {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.fade_in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}


/* Index */
.latest_project_cover{
    border-width: 3px;
    border-color: #ffffff00;
    border-style: solid;
    transition: border-color 0.3s ease;
}

.latest_project_cover:hover{
    border-color: #eaeaea;
}

/* Games */
.game_container{
    width: 20%;
}


.game_title{
    text-align: center;
    color: #ffffff;
    margin-top: 7px;
    font-size: 1.4vw;
    text-decoration: none;
}

.game_cover{
    border-radius: 13px;
    border-width: 3px;
    border-color: #ffffff00;
    border-style: solid;
    scale: 0.98;
    transition: border-color 0.3s ease;
    transition: scale 0.3s ease;
}

.game_cover:hover{
    border-color: #eaeaea;
    scale: 1.01;
}

/* Game Pages */
.game_page_title{
    color: #ffffff;
    font-size: clamp(4px, 1.6vw, 57px)
}

.game_description{
    color: #ffffff;
    font-size: clamp(4px, 1.2vw, 57px)
}